#Práctica #16: Datos Duplicados

Antonio Calzadilla Miranda

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

###Ejercicio 01. Datos Perdidos.

In [140]:
  #Importamos la librería de pandas y asignamos un alias (pd)
  import pandas as pd

  # Leemos el archivo que contiene comas
  df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Programacion /Semana 07 09142025/dirtydata.csv")
  #imprimimos el nombre de las columnas
  print(df.columns)
  print(df.head(10))

Index(['Duration', 'Date', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')
   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0
5        60  '2020/12/06'    102       127     300.0
6        60  '2020/12/07'    110       136     374.0
7       450  '2020/12/08'    104       134     253.3
8        30  '2020/12/09'    109       133     195.1
9        60  '2020/12/10'     98       124     269.0

In [141]:
print(df.isnull().sum())

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [143]:
print(df['Calories'].median())

291.2

In [144]:
# Calcula la media de la columna calorias
mean_calories = df['Calories'].mean()

# Imputa los valores faltantes en columna calorias con la media
df['Calories'].fillna(mean_calories, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  32 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

/tmp/ipython-input-530755597.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Calories'].fillna(mean_calories, inplace=True)

In [145]:
#Calcula de nuevo la media de la columna Calories después de que has imputado.
print(df['Calories'].median())

300.0

###Ejercicio 02. Duplicidad Parcial Una columna: Contar y Filtrar los registros duplicados en Duration

In [146]:
  #Importamos la librería de pandas y asignamos un alias (pd)
  import pandas as pd

  # Leemos el archivo que contiene comas
  df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Programacion /Semana 07 09142025/dirtydata.csv")
  #imprimimos el nombre de las columnas
  print(df.columns)
  print(df.head(10))

Index(['Duration', 'Date', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')
   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0
5        60  '2020/12/06'    102       127     300.0
6        60  '2020/12/07'    110       136     374.0
7       450  '2020/12/08'    104       134     253.3
8        30  '2020/12/09'    109       133     195.1
9        60  '2020/12/10'     98       124     269.0

In [147]:
num_duplicados_id = df.duplicated(subset=['Duration'], keep=False).sum()
print(f"Número Total de registros con Duration duplicado (todas las apariciones): {num_duplicados_id}")

Número Total de registros con Duration duplicado (todas las apariciones): 30

In [148]:
#Identifica las categorias de la columna Durantion
print(df['Duration'].unique())

[ 60  45 450  30]

In [149]:
#Utiliza value_counts() e imprime la cantidad de registros que hay por cada valor único.
print(df['Duration'].value_counts())

Duration
60     24
45      6
450     1
30      1
Name: count, dtype: int64

In [150]:
# Cuenta el numero de duplicados en la columna Duracion (excluyendo la primera ocurrencia)
num_duplicates = df["Duration"].duplicated().sum()
print(f"Number of duplicate entries in 'Duration': {num_duplicates}")

Number of duplicate entries in 'Duration': 28

In [151]:
# Contar cuántas veces aparece cada valor único
conteo = df["Duration"].value_counts()

# Solo los valores que tienen duplicados (más de 1 aparición)
duplicados_por_categoria = conteo[conteo > 1] - 1  # restamos 1 para contar duplicados reales
print("Cantidad de duplicados por valor de Duration:")
print(duplicados_por_categoria)

Cantidad de duplicados por valor de Duration:
Duration
60    23
45     5
Name: count, dtype: int64

In [152]:
# 3. Filtrar datos y obtener registros sin duplicados
df_sin_duplicados = df.drop_duplicates(subset=["Duration"])
print("\nDataFrame sin registros duplicados en Duration:")
print(df_sin_duplicados)

DataFrame sin registros duplicados en Duration:
   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
3        45  '2020/12/04'    109       175     282.4
7       450  '2020/12/08'    104       134     253.3
8        30  '2020/12/09'    109       133     195.1

In [153]:
df_sin_duplicados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 8
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  4 non-null      int64
 1   Date      4 non-null      object
 2   Pulse     4 non-null      int64
 3   Maxpulse  4 non-null      int64
 4   Calories  4 non-null      float64
dtypes: float64(1), int64(3), object(1)
memory usage: 192.0+ bytes

###Ejercicio 03 Duplicidad Parcial Dos columnaa: Contar y Filtrar los registros duplicados en Pulse y MaxPulse

In [154]:
  #Importamos la librería de pandas y asignamos un alias (pd)
  import pandas as pd

  # Leemos el archivo que contiene comas
  df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Programacion /Semana 07 09142025/dirtydata.csv")
  #imprimimos el nombre de las columnas
  print(df.columns)
  print(df.head(10))
  print(df.info())

Index(['Duration', 'Date', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')
   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0
5        60  '2020/12/06'    102       127     300.0
6        60  '2020/12/07'    110       136     374.0
7       450  '2020/12/08'    104       134     253.3
8        30  '2020/12/09'    109       133     195.1
9        60  '2020/12/10'     98       124     269.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None

In [155]:
num_duplicados_m = df.duplicated(subset=['Pulse', 'Maxpulse'], keep=False).sum()
print(f"Número Total de registros duplicados en Pulse y Maxpulse (todas las apariciones y se repiten juntos): {num_duplicados_m}")

Número Total de registros duplicados en Pulse y Maxpulse (todas las apariciones y se repiten juntos): 4

In [156]:
#Utiliza value_counts() e imprime la cantidad de registros que hay por cada valor único.
print(df[['Pulse',"Maxpulse"]].value_counts(), "\n")
#print(df[['Maxpulse']].value_counts())

Pulse  Maxpulse
100    120         4
92     115         1
       118         1
97     125         1
90     112         1
98     120         1
       123         1
       124         1
100    119         1
       132         1
102    126         1
       127         1
       129         1
103    123         1
       132         1
       135         1
       147         1
104    132         1
       134         1
105    132         1
106    128         1
108    131         1
109    133         1
       175         1
110    130         1
       136         1
117    145         1
       148         1
130    101         1
Name: count, dtype: int64

In [157]:
df_sin_duplicados = df.drop_duplicates(subset=["Pulse", "Maxpulse"], keep="last")
print(df_sin_duplicados)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

###Ejercicio 04 Duplicidad Total o Exacta: Contar y Filtrar los registros duplicados

In [158]:
  #Importamos la librería de pandas y asignamos un alias (pd)
  import pandas as pd

  # Leemos el archivo que contiene comas
  df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Programacion /Semana 07 09142025/dirtydata.csv")
  #imprimimos el nombre de las columnas
  print(df.columns)
  print(df.head(32))
  print(df.info())

Index(['Duration', 'Date', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')
    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None

In [159]:
# Contar filas duplicadas en todo el DataFrame
num_duplicados = df.duplicated().sum()
print(f"Número total de registros duplicados sin tener en cuenta la primera aparación: {num_duplicados}")

Número total de registros duplicados sin tener en cuenta la primera aparación: 1

In [160]:
# Eliminar duplicados y conservar solo la primera aparición
df_sin_duplicados = df.drop_duplicates()
print('\nEliminar duplicados y conservar solo la primera aparición')
print(df_sin_duplicados)

Eliminar duplicados y conservar solo la primera aparición
    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [161]:
#Filas con todas las columnas duplicadas
duplicados = df[df.duplicated( keep="last")]
print(duplicados)

    Duration          Date  Pulse  Maxpulse  Calories
11        60  '2020/12/12'    100       120     250.7

###Ejercicio 05: Cálculo de la media con duplicados y sin duplicados

In [162]:
  # Leemos el archivo que contiene comas
  df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Programacion /Semana 07 09142025/dirtydata.csv")
  #imprimimos el nombre de las columnas
  print(df.columns)
  print(df.head(32))
  print(df.info())

Index(['Duration', 'Date', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')
    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None

In [163]:
# Calcular e imprimir la media de Pulse y Maxpulse
mean_pulse_maxpulse = df[['Pulse',"Maxpulse"]].mean()
print(mean_pulse_maxpulse)

Pulse       103.5
Maxpulse    128.5
dtype: float64

In [164]:
num_duplicados_mul = df.duplicated(subset=['Pulse', 'Maxpulse'], keep=False).sum()
print(f"Número Total de registros duplicados en Pulse y Maxpulse (todas las apariciones y se repiten juntos): {num_duplicados_mul}")
print(num_duplicados_mul)

Número Total de registros duplicados en Pulse y Maxpulse (todas las apariciones y se repiten juntos): 4
4

In [165]:
# Filas que eran duplicadas (se eliminan)
duplicados = df[df.duplicated(subset=["Pulse", "Maxpulse"], keep=False)]
print("Duplicados encontrados en Pulse y Maxpulse:")
print(duplicados.sort_values(by=["Pulse", "Maxpulse"]))

Duplicados encontrados en Pulse y Maxpulse:
    Duration          Date  Pulse  Maxpulse  Calories
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
17        60  '2020/12/17'    100       120     300.0
26        60      20201226    100       120     250.0

In [166]:
#eliminar duplicados considerando la columna "ID"
print('\nEliminar duplicados considerando la columna ID y conserva la primera aparición')
df_sin_duplicados = df.drop_duplicates(subset=['Pulse', 'Maxpulse'],keep='last')
print(df_sin_duplicados)

Eliminar duplicados considerando la columna ID y conserva la primera aparición
    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [167]:
# Calcular la media en el dataset sin duplicados parciales en Pulse y Maxpulse
mean_df_sin_duplicados = df_sin_duplicados[['Pulse', 'Maxpulse']].mean()
print(mean_df_sin_duplicados)

Pulse       103.862069
Maxpulse    129.379310
dtype: float64

https://github.com/TonyProgramandoAndo/Practica-16-Datos-Duplicados